body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 1500px;
    margin: 30px auto;
    border: 1px solid #e6e3e3;
}
